{{#*inline "body"}}
<div class="gh-outer">
<main class="site-main gh-inner">

    {{#with author}}
        <div class="term">
            {{> partials/author-box}}
        </div>
    {{/with}}

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> partials/loop}}
        {{/foreach}}
    </div>

</main>
</div>
{{/inline}}
{{> default}}