<html></html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{{asset "css/checkout.css"}}">
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
</head>
<body>
    {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}
</body>
</html>