{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}
<style>
</style>
<div class="container" style="margin-left:1em;margin-right:1em;">
      <h2>Opening Soon</h2>
      <form method="post" action="/password" id="enter_site">
      <div id="create-account-form" class="gh-portal-logged-out-form-container" style="margin: 0 auto;">
        
        {{#if errors}}
        <div class="errors" style="margin-bottom: 2em;">
            <ul>
                {{#foreach errors}}
                <li>{{message}}</li>
                {{/foreach}}
            </ul>
        </div>
        {{/if}}


        <h3>This site is currently password protected Coming soon. Please enter the password if you've been granted test access.</h3>
        <section class="gh-portal-input-section" style="margin: auto;max-width: 50%;">
            <div class="gh-portal-input-labelcontainer"><label for="input-email" class="gh-portal-input-label"> Password </label>
            </div>
            <input data-test-input="password" id="password" class="gh-portal-input" type="password" name="password"
            placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Password"
            value="{{ form.password }}">
        </section>
    
        <div class="submit" style="margin: auto;max-width: 50%;">					
        <button name="submitsave" id="button-account" type="submit" class="gh-portal-btn gh-portal-btn-branded" style="">
            <span>
            <i class="fa fa-user left"></i>
            Enter
            </span>
        </button>
        &nbsp;
        or <a class="btn-acct" href="/">Return to the main site</a>
        </div>
      </div>
      </form>
</div>

<script>
</script>