{{#*inline "body"}}
{{#with post}}

<main class="site-main">
    <article class="{{post_class}} single">

        {{#match show_title_and_feature_image}}
            <header class="post-header gh-canvas">
                <h1 class="post-title">{{title}}</h1>
                {{> partials/feature-image}}
            </header>
        {{/match}}

        <div class="post-content gh-content gh-canvas">
            {{{content}}}
        </div>

    </article>
</main>

{{/with}}
{{/inline}}
{{> default}}